[submodule "3dparty/glfw"]
	path = 3dparty/glfw
	url = https://github.com/glfw/glfw
[submodule "3dparty/glm"]
	path = 3dparty/glm
	url = https://github.com/g-truc/glm
[submodule "3dparty/imgui"]
	path = 3dparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "3dparty/stb"]
	path = 3dparty/stb
	url = https://github.com/nothings/stb
